<h2>Reverse Words</h2>
<% if !params[:t] %>
Enter a paragraph into the text box. This will reverse each word in the paragraph so you can proofread for spelling errors or typos without being distracted by the context.
<% end %>

<% if params[:t] %>
    <div class='row-fluid'>

        <div class='span6 paragraph reversed'>
            <h4>Reversed</h4>
            <%= simple_format(sanitize(@reverse_text, :tags => %w(div a), :attributes => %w(class href)), {}, :sanitize => false) %>
        </div>

        <div class='span6 paragraph original'>
            <h4>Original</h4>
            <%= simple_format(sanitize(@markup_text, :tags => %w(div a), :attributes => %w(class href)), {}, :sanitize => false) %>
        </div>

    </div>
    <hr />
<% end %>

<div class='row-fluid'>

    <div class='span8 offset2 large-top-margin'>
        <%= form_tag "/reverse-words", :method => 'post' do %>
            <div>
                <%= label_tag :t, "Enter Text:" %>
            </div>
            <%= text_area_tag :t, @text, :rows => 10, :class => "span12" %>
            <br />
            <br />
            <%= submit_tag "Submit", :class => "btn" %>
        <% end %>
    </div>
</div>
