<% @prompt.review_types.build unless @prompt.review_types %>
<%= form_for([@context, @prompt]) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :body %>
        <%= f.text_area :body, :class => 'span6' %>
    </div>
    <div>
        <%= render :partial => 'review_types/form', :locals => {:form => f} %>
    </div>

    <div>
        <%= f.submit :class => 'btn' %>
    </div>
<% end %>
