<% @prompt.review_types.build if @prompt.review_types.empty? %>
<%= form_for([@context, @prompt]) do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :body %>
        <%= f.text_area :body, :class => 'span6 wysihtml5', :rows => 5 %>
    </div>
    <div>
        <%= render :partial => 'review_types/form', :locals => {:form => f} %>
    </div>
    <br />

    <div>
        <%= f.submit :class => 'btn' %>
    </div>
<% end %>
