<%= link_to "<< Back To Group", @context %>
<h2><%= @prompt.title %></h2>
<%= link_to "[Edit]", edit_context_prompt_path(@context, @prompt) %>
<p><%= @prompt.body %></p>
<%= link_to "Submit a Draft", new_prompt_submission_path(@prompt), :class => 'btn' %>
<h2>Drafts</h2>
<%= div_for @prompt.submissions do |submission|  %>
    <%= link_to submission.user.email, prompt_submission_path(@prompt, submission) %>
<% end %>
