<%= render 'contexts/header' %>

<h3><%= @prompt.title %></h3>

<p><%= simple_format @prompt.body %></p>

<% unless @review_types.empty? %>
    <p>Available review types: <%= @review_types %></p>
<% end %>
<%= link_to "[Edit]", edit_context_prompt_path(@context, @prompt) if current_user.role_in(@context) == 'instructor' %>

<h2>Drafts</h2>
<div>
    <% if @prompt.has_submission_by?(current_user) %>
        <span class='btn disabled'>You Already Submitted</span>
    <% else %>
        <%= link_to "Submit a Draft", new_prompt_submission_path(@prompt), :class => 'btn' %>
    <% end %>
</div>
<br />
<%= div_for @prompt.submissions do |submission|  %>
    <%= link_to submission.user.email, prompt_submission_path(@prompt, submission) %> -- <span class='badge badge-warning'><%= submission.number_of_reviews %></span> 
    <%= submission.number_of_reviews == 1 ? "review" : "reviews" %>
<% end %>
