<%= render 'contexts/header' %>

<h3><%= @prompt.title %></h3>

<p><%= @prompt.body %></p>

<% unless @review_types.empty? %>
    <p>Available review types: <%= @review_types %></p>
<% end %>
<%= link_to "[Edit]", edit_context_prompt_path(@context, @prompt) %>

<div>
    <% if @prompt.has_submission_by?(current_user) %>
        <span class='btn disabled'>You Already Submitted</span>
    <% else %>
        <%= link_to "Submit a Draft", new_prompt_submission_path(@prompt), :class => 'btn' %>
    <% end %>
</div>

<h2>Drafts</h2>
<%= div_for @prompt.submissions do |submission|  %>
    <%= link_to submission.user.email, prompt_submission_path(@prompt, submission) %>
<% end %>
