<div class='row-fluid'>
    <div class='span4'>
        <h4>Perceived Main Idea</h4>
        <table class='table table-striped table-bordered'>
            <% @submission.peer_evaluations.each do |evaluation| %>
                <tr>
                    <td><%= raw helpful_tooltip%> <%= evaluation.main_idea %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class='span4'>
        <h4>What Works</h4>
        <table class='table table-striped table-bordered'>
            <% @submission.peer_evaluations.each do |evaluation| %>
                <tr>
                    <td><%= raw helpful_tooltip%>  <%= evaluation.works %></td>
                </tr>
            <% end %>
        </table>
    </div>
    <div class='span4'>
        <h4>What Doesn't Work</h4>
        <table class='table table-striped table-bordered'>
            <% @submission.peer_evaluations.each do |evaluation| %>
                <tr>
                    <td><%= raw helpful_tooltip%> <%= evaluation.does_not_work %></td>
                </tr>
                <% end %>
        </table>
    </div>
</div>
