<h2>Reverse Sentences</h2>
<div class='row-fluid'>
    <% if !params[:t] %>
        Enter your text into the textbox. This will extract each sentence in isolation so that you can proofread the sentence structure without being distracted by context.
    <% end %>

    <% if params[:t] %>
        <p><i>Proofread each sentence below without being distracted by the content of the full text.</i></p>
        <div class='span10 offset1'>
            <table class='table table-striped table-bordered'>
            <% @sentences.reverse.each do |sentence|  %>
                <tr><td><%= sentence %></td></tr>
            <% end %>
            </table>        
            <hr />
        <% end %>
    </div>

    <div class='span8 offset2 large-top-margin'>
        <%= form_tag "/reverse-sentences", :method => 'post' do %>
            <div>
                <%= label_tag :t, "Enter Text:" %>
            </div>
            <%= text_area_tag :t, @text, :rows => 10, :class => "span12" %>
            <br />
            <br />
            <%= submit_tag "Submit", :class => "btn" %>
        <% end %>
    </div>
</div>
