<%= link_to "<< Back", context_prompt_path(@prompt.context, @prompt) %>
<p><%= simple_format @submission.body %></p>
<hr />

<% if current_user == @submission.user %>
    <h3>Peer Feedback</h3>

    <ul class='nav nav-tabs'>

        <% @review_types.each_with_index do |review_type, index| %>
            <% if index == 0 %>
                <li class='active'><a href='#<%= review_type %>' data-toggle='tab'><%= ReviewType.review_types[review_type.to_sym] %></a></li>
            <% else %>
                <li><a href='#<%= review_type %>' data-toggle='tab'><%= ReviewType.review_types[review_type.to_sym] %></a></li>
            <% end %>
        <% end %>
    </ul>

    <div class='tab-content'>
        <% @review_types.each_with_index do |review_type, index| %>
                <% if index == 0 %>
                    <div id='<%= review_type %>' class='tab-pane fade in active'>
                        <%= render "#{review_type}/feedback" %>
                    </div>
                <% else %>
                    <div id='<%= review_type %>' class='tab-pane fade'>
                        <%= render "#{review_type}/feedback" %>
                    </div>
                <% end %>
            <% end %>
        </div>

<% else %>
    <ul class='nav nav-tabs'>
        <% @review_types.each_with_index do |review_type, index| %>
            <% if index == 0 %>
                <li class='active'><a href='#<%= review_type %>' data-toggle='tab'><%= ReviewType.review_types[review_type.to_sym] %></a></li>
            <% else %>
                <li><a href='#<%= review_type %>' data-toggle='tab'><%= ReviewType.review_types[review_type.to_sym] %></a></li>
            <% end %>

        <% end %>
    </ul>

    <div class='tab-content'>

        <% @review_types.each_with_index do |review_type, index| %>

            <% if index == 0 %>
                <div id='<%= review_type %>' class='tab-pane fade in active'>
                    <% if current_user.has_given_review_by_type(review_type, @submission) %>
                        <div class='alert alert-success'>Thank you for your review!</div>
                    <% else %>
                        <%= render "#{review_type}/form" %>
                    <% end %>
                </div>
            <% else %>
                <div id='<%= review_type %>' class='tab-pane'>
                    <% if current_user.has_given_review_by_type(review_type, @submission) %>
                        <div class='alert alert-success'>Thank you for your review!</div>
                    <% else %>
                        <%= render "#{review_type}/form" %>
                    <% end %>
                </div>
            <% end %>

        <% end %>

    <% end %>

</div>
