<%= form_for([@submission, @submission.research_introduction_reviews.build]) do |f| %>
    <%= render 'shared/errors' %>

    <div>
        <%= f.label :clarity, "Is this introduction clear?" %>
        <%= f.text_area :clarity, :class => 'span6', :rows => 3 %>
    </div>

    <div>
        <%= f.label :hook, "What's the 'hook' that makes you want to keep reading this paper?" %>
        <%= f.text_area :hook, :class => 'span6', :rows => 3 %>
    </div>

    <div>
        <%= f.label :so_what, "'So what?' What problem is this research paper solving?" %>
        <%= f.text_area :so_what, :class => 'span6', :rows => 3 %>
    </div>
    <%= f.submit :class => 'btn' %>
<% end %>
