<h2>Topic Sentences</h2>

<% if !params[:t] %>
    Enter a few paragraphs in this text box. The program will return the first sentence of each paragraph.
<% end %>

<div class='row-fluid'>

    <% if params[:t] %>
        <div class='span10 offset1'>
            <% @topic_sentences.each do |sentence| %>
                <ul>
                    <li><%= sentence %></li>
                </ul>
            <% end %>
            <br />
            <i>Does this match your outline?</i>
            <hr />
        </div>
    <% end %>

    <div class='span8 offset2 large-top-margin'>
        <%= form_tag "/topic-sentences", :method => 'post' do %>
            <div>
                <%= label_tag :t, "Enter Paragraphs:" %>
            </div>
            <%= text_area_tag :t, @text, :rows => 10, :class => "span12" %>
            <br />
            <br />
            <%= submit_tag "Submit", :class => 'btn' %>
        <% end %>
    </div>

</div>
