<h2><%= link_to "#{@context.context_label} #{@context.context_title}", @context %></h2>
<p><i>Viewing course as: </i><span class='label label-info'><%= @role %></span></p>
<hr />

<h3>Grade Demo</h3>
    <% if session['launch_params'] %>
        <div class='span12'>
            <%= form_tag lti_exam_path, :method => 'post' do %>
                <%= text_field_tag :score, '', :class => 'input-mini' %>
                <%= hidden_field_tag :context, @context.id %>
                <br />
                <%= submit_tag "Give yourself a grade between 0 and 1", :class => 'btn' %>
            <% end %>
        </div>
    <% end %>
