<h2><%= "#{@context.context_label} #{@context.context_title}" %></h2>
<p><i>You are viewing this course group as a <%= @role %></i></p>
    <% if @tp %>
        <div class='span12'>
            <%= form_tag lti_exam_path, :method => 'post' do %>
                <%= text_field_tag :score, '', :class => 'input-mini' %>
                <br />
                <%= submit_tag "Give yourself a grade between 0 and 1", :class => 'btn' %>
            <% end %>
        </div>
    <% end %>
