<h2>Reverse Paragraph</h2>

<% if params[:t] %>
    <div class='row-fluid'>

        <div class='span6'>
            <h4>Reversed</h4>
            <%= simple_format @reverse_text %>
        </div>

        <div class='span6'>
            <h4>Original</h4>
            <%= simple_format @text %>
        </div>

    </div>
    <hr />
<% end %>

<div class='row-fluid'>

    <div class='span8 offset2'>
        <%= form_tag "/reverse-paragraph", :method => 'post' do %>
            <div>
                <%= label_tag :t, "Enter Text:" %>
            </div>
            <%= text_area_tag :t, @text, :rows => 10, :class => "span12" %>
            <br />
            <br />
            <%= submit_tag "Submit", :class => "btn" %>
        <% end %>
    </div>
</div>
