<!DOCTYPE html>
<html>
<head>
    <title>Writer's Hub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='navbar'>
        <div class="navbar-inner">
            <%= link_to "Writer's Hub", root_path, :class => 'brand' %>
            <ul class="nav">
                <li class="dropdown"><a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Writing Utilities<b class="caret"></b></a>
                    <ul class='dropdown-menu' role='menu' aria-labelledby="drop2">
                        <% if params[:t] %>
                            <%= form_tag topic_sentences_path, :method => 'post' do %>
                                <%= hidden_field_tag :t, params[:t] %>
                                <li><%= submit_tag "Check Topic Sentences", :class => 'btn btn-link' %></li>
                            <% end %>
                            <%= form_tag reverse_words_path, :method => 'post' do %>
                                <%= hidden_field_tag :t, params[:t] %>
                                <li><%= submit_tag "Reverse Words", :class => 'btn btn-link' %></li>
                            <% end %>
                            <%= form_tag reverse_sentences_path, :method => 'post' do %>
                                <%= hidden_field_tag :t, params[:t] %>
                                <li><%= submit_tag "Reverse Sentences", :class => 'btn btn-link' %></li>
                            <% end %>
                        <% else %>
                            <li role='presentation'><%= link_to "Check Topic Sentences", topic_sentences_path, :role => 'menuitem' %></li>
                            <li role='presentation'><%= link_to "Reverse Words", reverse_words_path, :role => 'menuitem' %></li>
                            <li role='presentation'><%= link_to "Reverse Sentences", reverse_sentences_path, :role => 'menuitem' %></li>
                        <% end %>
                    </ul>
                    </li>
                    <li><%= link_to "Sample Text", sample_text_path %></li>
                </ul>
                <ul class='nav pull-right'>
                    <% if user_signed_in? %>
                        <% if current_user.contexts.length > 0 %>
                            <li class="dropdown"><a href='#' id='drop4' role='button' class='dropdown-toggle' data-toggle='dropdown'>Course Groups<b class='caret'></b></a>
                            <ul class='dropdown-menu' role='menu' aria-labelledby='drop4'>
                                <% current_user.contexts.each do |context| %>
                                    <li><%= link_to "#{context.context_label} #{context.context_title}", context %></li>
                                <% end %>
                            </ul>
                            </li>
                        <% end %>
                        <li class="dropdown"><a href='#' id='drop3' role='button' class='dropdown-toggle' data-toggle='dropdown'><%= current_user.email %><b class='caret'></b></a>
                            <ul class='dropdown-menu' role='menu' aria-labelledby='drop3'>
                                <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                            </ul>
                        </li>
                    <% else %>
                        <li><%= link_to "Sign In", new_user_session_path %></li>
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <% end %>
                </ul>
        </div>
    </div>

    <% if !alert.nil? %>
        <div class='alert alert-error'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= alert %>
        </div>
    <% end %>
    <% if !notice.nil? %>
        <div class='alert alert-success'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= notice %>
        </div>
    <% end %>

    <div class='content'>
        <%= yield %>
    </div>

</body>
</html>
